.weekday-row {
  font-size: 1.6rem;
  padding: 2rem;
  text-align: left;
  display: inline-block;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
}

.event-row {
  border-left: 1px solid #ccc;
  margin: 1rem;
  padding: 0 3rem;
  flex-wrap: wrap;
}

.weekday {
  margin: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}
