@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700|Roboto");
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.App {
  display: flex;
  flex-direction: column;
}

.days-rows-container {
  margin-top: 100px;
}

header {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(158, 158, 158);
  position: fixed;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.1);
  background: white;
}

.month-header {
  font-size: 3rem;
  font-weight: 300;
  padding: 3rem;
  color: #0984e3;
}

.prev,
.next {
  background: transparent;
  border: none;
  cursor: pointer;
  color: rgb(158, 158, 158);
  font-size: 3rem;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  outline: none;
  margin: 0 5rem;
}

.prev:hover,
.next:hover {
  transform: translateY(-2px);
  color: #0984e3;
}

.prev:active,
.next:active {
  transform: translateY(-1px);
}

.prev {
  left: 10%;
}
.next {
  right: 10%;
}
